@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* clears the 'X' from Internet Explorer */
input[type="text"]::-ms-clear {  display: none; width : 0; height: 0; }
input[type="text"]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration { display: none; }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.br {
    margin-bottom: 15px;
}

.bottombar {
    display: none;
}

body {
    background-color: #181A1D;
}

html {
    scroll-behavior: smooth;
   }

header {
    /* padding: 0%; */
    background-color: #181A1D;
    /* width: 100%; */
    /* height: 60px; */
    box-shadow: 0px -10px 16px 4px;
    padding-left: 25px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    top: 0%;
}

li, a, button, p, p1, p2, p3, p4, p5, p6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color : #edf0f1;
    text-decoration: none;
}
h, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    color : #edf0f1;
    text-decoration: none;
    margin-left: 15px;
}

h1 {
    font-size: 35px;
}
p1 {
    font-size: 25px;
    color: #9fa0a0;
}


button {
    background-color: #ff8b3d;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    box-shadow: -3px 3px 12px -3px #000000;
    transition: 0.3s;
    outline: none;
    border: none;
    cursor: pointer;

    font-size: 80%; 
    margin-right: 10px; 
    margin-left: 25px; 
    font-weight: 1000; 
    transform: translate(0px, -2px); 
    padding-bottom: 11.5px;
}

button:hover {
    background-color: #ff9249;
}
button text {
    font-family: "Montserrat", sans-serif;
}

.container {
    background-color: #2a2d31;
    outline: none;
    border: none;
    box-shadow: -3px 3px 12px -3px #000000;
    border-radius: 8px;
}

.nav_links li {
    display: inline-flex;
    margin: -2px;
}
.nav_links a:not(#special) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav_links a:hover:not(#special) {
    background-color: #000000;
    transition: 0.3s ease 0s;
}

.nav_links .active {
    color: #046CEB !important;
}

.search_background {
    display: flex;
    z-index: 5;
    margin-left: auto; 
    margin-right: 0;
    background-color: #181A1D;
    width: 500px;
    height: 60px;
    opacity: 0%;
    align-items: center;
    justify-items: center;
    padding-left: 25px;

}
.searchbar{
    border-style: solid;
    border-color: #edf0f1;
    border-radius: 50px;
    border-width: 0.5px;
    height: 35px;
    width: 500px;
    display: flex;
    align-items: center;
}
.searchbar .search_im {
    position: relative;
    height: 80%;
    width: auto;
    margin-left: 93%;
    opacity: 50%;
}
.searchbar .search_im:hover {
    opacity: 100%;
    cursor: pointer;
}
.searchbar .search {
    background: transparent;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 750;
    font-size: 20px;
    margin-left: 15px;
    width: 400px;
    height: 25px;
    position: absolute;
    background-color: none;
    border: none;
    outline: none;
}

input[type="submit"] {
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    background-color: #090A0B;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    box-shadow: -3px 3px 12px 2px #000000;
    transition: 0.3s;
    outline: none;
    border: none;
    cursor: pointer;
    color: #edf0f1;
}
input[type="submit"]:hover {
    background-color: #000000;
}

input[type="text"] {
    background-color: #EDF0F1;
    border-radius: 15px;
    border: none;
    padding: 9px 25px;
    transition: 0.3s;
    outline: none;
    border: none;
    width: 509px;
    height: 54px;
    color: #000000;
    font-size: 17.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
}
input[type="text"]::placeholder {
    color:#636363
}

input[type="password"] {
    background-color: #EDF0F1;
    border-radius: 15px;
    border: none;
    padding: 9px 25px;
    transition: 0.3s;
    outline: none;
    border: none;
    width: 509px;
    height: 54px;
    color: #000000;
    font-size: 17.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
}
input[type="password"]::placeholder {
    color:#636363
}

input[type="email"] {
    background-color: #EDF0F1;
    border-radius: 15px;
    border: none;
    padding: 9px 25px;
    transition: 0.3s;
    outline: none;
    border: none;
    width: 509px;
    height: 54px;
    color: #000000;
    font-size: 17.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
}
input[type="email"]::placeholder {
    color:#636363
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background-color: #EDF0F1;
}
input[type="checkbox"]:checked ~ .checkmark {
    background-color: #07B2F6;
}

select {
    background-color: #EDF0F1;
    border-radius: 15px;
    border: none;
    padding: 9px 25px;
    transition: 0.3s;
    outline: none;
    border: none;
    width: 509px;
    height: 54px;
    color: #000000;
    font-size: 17.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
}


.skillcircle {
    width: 163px;
    height: 163px;
    display: flex;
    flex-wrap: wrap;
    justify-items: right;
    justify-self: center;
    align-self: center; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.skillsegment {
    width: 163px;
    height: 163px;
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.skillicon {
    width: 75px;
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.skillbackcircle {
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    margin: 0;
    box-shadow: -3px 3px 12px -3px #000000;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.skillbackground {
    width: 150px; 
    height: 200px;
    background-color: #333231;
    margin: 0;
    box-shadow: -3px 3px 12px -3px #000000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 45px;
    background-color: #e6af3b;
    margin: 0;
    box-shadow: -3px 3px 12px -3px #000000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.warning {
    width: 100%;
    height: 45px;
    background-color: #e63b3b;
    margin: 0;
    box-shadow: -3px 3px 12px -3px #000000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.plan {
    width: 100%;
    height: 45px;
    background-color: #444444;
    margin: 0;
    box-shadow: -3px 3px 12px -3px #000000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.divider{
    width:10px;
    height: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.Discover {
    font-weight: bold;
    color: #ff6600;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/* Center the loader */
#loader {
    border: 25px solid #ffffff;
    border-radius: 50%;
    z-index: 1;
    border-top: 25px solid #FFD700;
    width: 220px;
    height: 220px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  
  /* Loader Above */
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
    
